
.nav{
    display:flex;
    background-color: burlywood;
    height:25px;
    width:100%;
    justify-content: space-evenly;
    font-size:medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:fixed;
    margin-top: -15px;
}



.main{
    display: flex;
    font-size:small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.maincontent{
    flex-grow: 1;
    font-size: medium;
    font-family:'Times New Roman', Times, serif;
    flex-basis: 75%;
}
.sidebar{
    flex-basis: 25%;
}

.blackpanther{
    float:left;
}

.indianflag{
    float:right;
}
.footer{
    font-size:medium;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
